# Ignore virtual environment
.venv/
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment config
.env

# OS-specific
.DS_Store

# Editor-specific
.vscode/
.idea/

data/
saved_models/configs/
saved_models/reconstruction_plots/
saved_models/runs/
saved_models/weights/

# No pngs
**/*.png
**/*.pkl